<!DOCTYPE html>
<html lang="es">
{% block head %}
 {% include 'head.html' %}
{% endblock %}
<body themebg-pattern="theme1">
     <section class="login-block">
        <!-- Container-fluid starts -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center">
                        <img src="/static/logos/myiplataformadigital.png" alt="logo.png" width="350" height="95">
                    </div>
                    <div class="auth-box card">
                        <div class="card-block">
                            <div class="row m-b-20">
                                <div class="col-md-12">
                                     <h3 class="panel-title">Solicitud de cambio de contraseña enviado</h3>
                                </div>
                            </div>
                            <div class="form-group form-primary">
                                <p>Le enviamos instrucciones por correo electrónico para configurar su contraseña, si existe una cuenta con el correo electrónico que ingresó. Debería recibirlos en breve. <br> Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y verifique su carpeta de correo no deseado.</p>
                                 <p><a href="/">Volver</a></p>
                            </div>
                         </div>
                    </div>
                <!-- end of col-sm-12 -->
            </div>
            <!-- end of row -->
        </div>
        <!-- end of container-fluid -->
    </section>
</body>
</html>


