{% extends 'layout.html' %}
{% load humanize %}
{% block content %}
{% load poll_extras %}
<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-header">
				<h5>Listado de comisiones pagadas a proveedores</h5>
			</div>
			<div class="card-block table-border-style">
				<div class="table-responsive">
                    <table class="table table-normal">
                        <thead>
                            <tr>
                                <th>Fecha de pago</th>
                                <th>Proveedor</th>
                                <th>Distribuidor</th>
                                <th>Comision</th>
                                <th>Pago</th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody>
                           {% for invoice in invoices %}
                                <tr class="gradeA odd" role="row">
                                   <td>{{ invoice.date_pay|date:"d/M/Y P" }}</td>
                                   <td>{{ invoice.due.first_name|title }} {{ invoice.due.last_name|title }}- {{ invoice.due.username|title }}</td>
                                   <td>{{ invoice.saler.first_name|title }} {{ invoice.saler.last_name|title }}- {{ invoice.saler.username|title }}</td>
                                   <td>$ {{ invoice.commission|two_decimal:2|intcomma }}</td>
                                   <td>$ {{ invoice.total|two_decimal:2|intcomma  }}</td>
                                   <td><a href="{% url 'see-sale' invoice.id %}"> Ver</a></td>
                                </tr>
                            {% endfor %}
                            {% if invoices %}
                                <tr class="gradeA odd" role="row">
                                    <td></td>
                                    <td></td>
                                    <td><strong>Totales</strong></td>

                                    <td>$ {{ commissions|intcomma }} </td>
                                    <td>$ {{ total|intcomma|intcomma }}</td>
                                    <td></td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
			</div>
		</div>

	</div>
	<!-- /.col-lg-12 -->
</div>


{% endblock %}