{% load humanize %}
<div class="modal-header">
    <h2>¿Desea renovar esta cuenta {{ count.subproduct.name }}?</h2>
    <button type="button" class="close" data-dismiss="modal"><i class="ti-close"></i></button>
</div>
<div class="modal-body">
	<div class="col-lg-12" style="background-color: lavender;">
		<div class="form-group">
			<label>Correo:</label>
			<td>{{ count.email }}</td>
		</div>
		<div class="form-group">
			<label>Contraseña:</label>
			<td>{{ count.password }}</td>
		</div>
		<div class="form-group">
			<label>Perfil:</label>
			<td>{{ count.profile }}</td>
		</div>
		<div class="form-group">
			<label>Pin:</label>
			<td>{{ count.pin }}</td>
		</div>
		<div class="form-group">
			<label>Instrucciones:</label>
			<td>{{ subproduct.instructions }}</td>
		</div>
	</div>
    <form method="post" action="{% url 'resale-count-package' count.id %}">
	{% csrf_token %}
        <div class="form-group form-default">
			<label class="float-label">Dias adquiridos</label>
			<select id="months" name="months" class="form-control">
				<option value="" selected>---------</option>
			  	<option value="1" >30 dias</option>
			  	<option value="2" >60 dias</option>
			  	<option value="3">90 dias</option>
			</select>
			<span>Precio por mes: $ {{ count.price_buy|intcomma }}</span>
		</div>
    <button type="submit" id="sale" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" disabled >Aceptar</button>
    </form>
</div>
<script>

	$('body').on('change', '#months', function(){
		total =  $(this).val()* {{ count.price_buy }}
		if({{ money_user }} > total){
			$('#sale').prop( "disabled", false );
		}else{
			alert('No tienes suficiente saldo para esta transacción');
			$('#sale').prop( "disabled", true );
		}
	});


</script>