{% load mathfilters %}
{% load humanize %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-header">
				<h5>Listado de comisiones de proveedor</h5>
			</div>
			<div class="card-block table-border-style">
				<div class="table-responsive">
                    <table id="sales-table" class="table table-normal">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Subproducto</th>
                                 <th>Email</th>
                                 <th>Contraseña</th>
                                 <th>Perfil</th>
                                <th>Distribuidor</th>
                                <th>Venta</th>
                                 <th>Comision {{ PERCENT_COMISSION }}%</th>
                                <th>Total</th>

                            </tr>
                        </thead>
                        <tbody>
                           {% for sale in sales %}
                            <tr class="gradeA odd" role="row">
                               <td>{{ sale.date_buy|date:"d/M/Y P" }}</td>
                               <td>{{ sale.subproduct.name }}</td>
                               <td>{{ sale.email }}</td>
                               <td>{{ sale.password }}</td>
                                <td>{{ sale.profile }}</td>
                               <td>{{ sale.owner }}</td>
                               <td>$ {{ sale.price_buy|intcomma }}</td>
                               <td>$ {{ sale.commission|intcomma }}</td>
                               <td>$ {{ sale.price_buy|sub:sale.commission|intcomma }}</td>
                            </tr>
                        {% endfor %}
                        {% if sales %}
                        <tr class="gradeA odd" role="row">
                            <td></td>
                            <td></td>
                            <td><strong>Totales</strong></td>
                            <td>$ {{ sales_sum.total_sales|intcomma }}</td>
                            <td>$ {{ comission|intcomma }} </td>
                              <td>$ {{ sales_sum.total_sales|sub:comission|intcomma }}</td>
                        </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
			</div>
		</div>

	</div>
	<!-- /.col-lg-12 -->
</div>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    
    <!-- Modal content-->
    <div class="modal-content">
    
  </div>
 
</div>

<script>


$('#packages-table tbody').on("click", ".report" , function(event){       
    event.preventDefault()
    id = $(this).attr('id')    
    $("#myModal").modal({show: true})
    $.get('/platform/report-issue/Multiplataforma/'+ id ,function(data){
          $('.modal-content').html(data)
          
     }) 
})  

$('#packages-table tbody').on("click", ".renew" , function(event){       
    event.preventDefault()
    email = $(this).attr('email')    
    $("#myModal").modal({show: true})
    $.get('/multiplatform/renew/'+ email ,function(data){            
          $('.modal-content').html(data)
          
     }) 
})  


     
</script>

{% endblock %}