{% extends 'layout.html' %}
{% load mathfilters %}
{% load humanize %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<div class="row">
    <!-- task, page, download counter  start -->
    <div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-block">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h4 class="text-c-purple">{{ len_staff_actives }}</h4>
                        <h6 class="text-muted m-b-0">Cuentas pendientes por renovación</h6>
                    </div>
                    <div class="col-4 text-right">
                        <i class="fa fa-handshake-o f-28"></i>
                    </div>
                </div>
            </div>
            <div class="card-footer bg-c-purple">
                <div class="row align-items-center">
                    <div class="col-9">
                        <a href="{% url 'staff-list' 'staff' 1 %}"><p class="text-white m-b-0">Ver</p></a>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-block">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h4 class="text-c-green">{{ reports }}</h4>
                        <h6 class="text-muted m-b-0">Reporte de error pendientes </h6>
                    </div>
                    <div class="col-4 text-right">
                        <i class="fa fa-file-text-o f-28"></i>
                    </div>
                </div>
            </div>
            <div class="card-footer bg-c-green">
                <div class="row align-items-center">
                    <div class="col-9">
                         <a href="{% url 'reported-issues-platform' %}"><p class="text-white m-b-0">Ver</p></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if commission_pending.total %}
     <div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-block">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h4 class="text-c-blue">{{ commission_pending.total }}</h4>
                        <h6 class="text-muted m-b-0">Comisiones pendientes </h6>
                    </div>
                    <div class="col-4 text-right">
                        <i class="fa fa-money f-28"></i>
                    </div>
                </div>
            </div>
            <div class="card-footer bg-c-blue">
                <div class="row align-items-center">
                    <div class="col-9">
                         <a href="{% url 'commission-collect' %}"><p class="text-white m-b-0">Ver</p></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if commission_payed.total %}
     <div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-block">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h4 class="text-c-blue">{{ commission_payed.total }}</h4>
                        <h6 class="text-muted m-b-0">Comisiones pagadas </h6>
                    </div>
                    <div class="col-4 text-right">
                        <i class="fa fa-money f-28"></i>
                    </div>
                </div>
            </div>
            <div class="card-footer bg-c-blue">
                <div class="row align-items-center">
                    <div class="col-9">
                         <a href="{% url 'commission-payed' %}"><p class="text-white m-b-0">Ver</p></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}


    <!-- task, page, download counter  end -->

    <!--  sale analytics start -->


    <!--  project and team member end -->
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-header">
				<h5>Listado de comisiones de este mes</h5>
			</div>
			<div class="card-block table-border-style">
				<div class="table-responsive">
                    <table id="sales-table" class="table table-normal">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Subproducto</th>
                                <th>Comprador</th>
                                <th>Precio</th>
                                <th>Venta</th>
                                <th>Comision</th>

                            </tr>
                        </thead>
                        <tbody>
                           {% for sale in sales %}
                            <tr class="gradeA odd" role="row">
                               <td>{{ sale.date_buy|date:"d/M/Y P" }}</td>
                                    <td>{{ sale.subproduct.name }}</td>
                                    <td>{{ sale.owner }}</td>
                                    <td>$ {{ sale.price_buy|intcomma }}</td>
                                    <td>$ {{ sale.price_buy|sub:sale.commission|intcomma }}</td>
                                    <td>$ {{ sale.commission|intcomma }}</td>
                            </tr>
                        {% endfor %}
                        {% if sales %}
                        <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Totales</strong></td>
                            <td>$ {{ sales_sum.total_sales|intcomma }}</td>
                            <td>$ {{ comission|intcomma }} </td>
                        </tr>
                         </tfoot>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
			</div>
		</div>

	</div>
	<!-- /.col-lg-12 -->
</div>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    
    <!-- Modal content-->
    <div class="modal-content">
    
  </div>
 
</div>

<script>


$('#packages-table tbody').on("click", ".report" , function(event){       
    event.preventDefault()
    id = $(this).attr('id')    
    $("#myModal").modal({show: true})
    $.get('/platform/report-issue/Multiplataforma/'+ id ,function(data){
          $('.modal-content').html(data)
          
     }) 
})  

$('#packages-table tbody').on("click", ".renew" , function(event){       
    event.preventDefault()
    email = $(this).attr('email')    
    $("#myModal").modal({show: true})
    $.get('/multiplatform/renew/'+ email ,function(data){            
          $('.modal-content').html(data)
          
     }) 
})  


     
</script>

{% endblock %}