{% extends 'layout.html' %}
{% load humanize %}
{% load mathfilters %}
{% load widget_tweaks %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

<div class="row">

    <div class="col-lg-12">
        <div class="card">

            <div class="card-block table-border-style">
                <div >
                    <h5>Pagar facatura No: {{  invoice.id  }} Proveedor {{ user_data.user.username }}</h5>
                    <table id="pendding-table" class="table table-no-pagin">
                        <thead>
                            <tr>
                                 <th>Id</th>
                                <th>Email</th>
                                <th>Fecha</th>
                                <th>Subproducto</th>
                                <th>Distribuidor</th>
                                <th>Precio</th>
                                 <th>Pago</th>
                                <th>Comision</th>

                            </tr>
                        </thead>
                        <tbody>
                           {% for sale in sales %}
                            <tr class="gradeA odd" role="row">

                                 <td>{{ sale.id }}</td>
                                    <td>{{ sale.email }}</td>
                                 <td>{{ sale.date_buy|date:"d/M/Y P" }}</td>
                                 <td>{{ sale.subproduct.name }}</td>
                                 <td>{{ sale.owner|title }}</td>
                                 <td>$ {{ sale.price_buy|intcomma }}</td>
                                 <td>$ {{ sale.price_buy|sub:sale.commission|intcomma }}</td>
                                 <td>$ {{ sale.commission|intcomma }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>

                        <tfoot>
                            <tr class="gradeA odd" role="row">
                                  <td></td>
                                 <td></td>
                                <td></td>
                                <td></td>
                                <td><strong>Totales</strong></td>
                                <td>$ {{ sales_sum.total_sales|intcomma }}</td>
                                <td>$ {{ pay|intcomma }}</td>
                                <td>$ {{ comission|intcomma }}</td>
                                <td></td>
                            </tr>
                        </tfoot>

                    </table>
                    <button  class="btn btn-mat waves-effect waves-light btn-inverse pay">Generar Pago: ${{ pay|intcomma }} {{ invoice.payment_method }}: {{ user_data.paypal }}</button>
                </div>
            </div>
        </div>
    </div>
</div>





<script>
set_pay_to_staff('{{ invoice.id }}')
</script>

{% endblock %}