<div class="modal-header">
    <h2>¿Desea vender una cuenta del paquete {{ subproduct.name }}?</h2>
    <button type="button" class="close" data-dismiss="modal"><i class="ti-close"></i></button>
</div>
<div class="modal-body"><div class="modal-body">
	<div class="col-lg-12">
		<div class="form-group">
			<label>Correo:</label>
			<td>{{ count.email }}</td>
		</div>
		<div class="form-group">
			<label>Contraseña:</label>
			<td>{{ count.password }}</td>
		</div>
		<div class="form-group">
			<label>Perfil:</label>
			<td>{{ count.profile }}</td>
		</div>
		<div class="form-group">
			<label>Pin:</label>
			<td>{{ count.pin }}</td>
		</div>
		<div class="form-group">
			<label>Instrucciones:</label>
			<td>{{ subproduct.instructions }}</td>
		</div>
	</div>
    <form method="post" action="{% url 'sale-count-package' id %}">
	{% csrf_token %}
        <div class="form-group form-default">
						<input type="number" name="price" maxlength="10" class="form-control" required>
						<span class="form-bar"></span>
						<label class="float-label">Precio de venta</label>
					</div>
    <button type="submit" id="sale" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Aceptar</button>
    </form>
</div>