{% extends 'layout.html' %}
{% load mathfilters %}
{% load humanize %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-header">
				<h5>Listado de comisiones de este mes</h5>
			</div>
			<div class="card-block table-border-style">
				<div class="table-responsive">
               <form  id="collect_form" method="POST">
                    {% csrf_token %}
                   	<div class="form-group">
						<label>Seleccione el medio de pago:</label>
						 <select name="payment" class="form-control form-control-lg">
                             {% if user_data.paypal %}
                                 <option value="paypal">Paypal</option>
                             {% endif %}
                              {% if user_data.aritms %}
                                 <option value="aritms">Aritms</option>
                             {% endif %}
                              {% if user_data.binance %}
                                 <option value="binance">Binance</option>
                             {% endif %}
                              {% if user_data.banco %}
                                 <option value="banco">Banco</option>
                             {% endif %}
                    </select>
                        <div class="card-header">
                            Seleccione las cuentas que desea cobrar
                        </div>
                    <table id="sales-table" class="table table-no-pagin">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Email</th>
                                <th>Subproducto</th>
                                <th>Comprador</th>
                                <th>Precio</th>
                                <th>Venta</th>
                                <th>Comision</th>
                                <th><input id="select_all" type="checkbox" ></th>
                            </tr>
                        </thead>
                        <tbody>
                           {% for sale in sales %}
                            <tr class="gradeA odd" role="row">
                                    <td>{{ sale.id }}</td>
                                    <td>{{ sale.email }}</td>
                                    <td>{{ sale.subproduct.name }}</td>
                                    <td>{{ sale.owner }}</td>
                                    <td>$ {{ sale.price_buy|intcomma }}</td>
                                    <td>$ {{ sale.price_buy|sub:sale.commission|intcomma }}</td>
                                    <td>$ {{ sale.commission|intcomma }}</td>
                                    <td><input id="{{ sale.id }}" money="{{ sale.commission }}"  name="{{ sale.id }}" class="check" type="checkbox" ></td>
                            </tr>
                        {% endfor %}
                        {% if sales %}
                            <tfoot>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><strong>Totales</strong></td>
                                    <td id="total"></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tfoot>
                        {% endif %}
                        </tbody>
                    </table>
					</div>
                    <div class="col-md-12">
                        <button  type="submit" class="btn collect btn-primary btn-md btn-block waves-effect waves-light text-center m-b-20">Enviar cobro</button>
                    </div>
                   </form>
                </div>
			</div>
		</div>

	</div>
	<!-- /.col-lg-12 -->
</div>


<script>

$('body').on("click", "#select_all" , function(event){
    checked = $(this).prop("checked")
    $(".check").trigger("click")
})

$('body').on("click", ".collect" , function(event){
    event.preventDefault()
    $(this).prop("disable")
    $("#collect_form").submit()
})

money_all=0
let dollarUSLocale = Intl.NumberFormat('en-US');
$('#sales-table tbody').on("click", ".check" , function(event){
    money = $(this).attr('money')
    if($(this).prop("checked") == true){
        money_all = money_all + parseFloat(money)
    }else{
        money_all = money_all - parseFloat(money)
    }
   $('#total').html("$"+ dollarUSLocale.format(money_all))
})
     
</script>

{% endblock %}