
{% load humanize %}
{% load mathfilters %}
{% load widget_tweaks %}
{% block menu %} 
    {% include 'menu.html' %}
{% endblock %} 

{% block header %}
 <div class="page-header">
	  <div class="page-block">
		  <div class="row align-items-center">
			  <div class="col-md-8">
				  <div class="page-header-title">
					  <h5 class="m-b-10">Compras</h5>
				  </div>
			  </div>

		  </div>
	  </div>
  </div>
{% endblock %}
{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-header">
				<h5>Listado de compras </h5>
			</div>
			<div class="card-block table-border-style">
				<div class="table-responsive">
                    <table  class="table table-no-order">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Paquete</th>
                                <th>Email</th>
                                <th>Contraseña</th>
                                <th>Perfil</th>
                                <th>Precio compra</th>
                                <th>Precio venta</th>
                                <th>Ganancia</th>
                            </tr>
                        </thead>
                        <tbody>
                           {% for sale in sales %}
                                <tr class="gradeA odd" role="row">
                                    <td>{{ sale.date_sale|date:"d/M/Y P" }}</td>
                                    <td>{{ sale.subproduct.name  }}</td>
                                    <td>{{ sale.email }}</td>
                                    <td>{{ sale.password }}</td>
                                    <td>{{ sale.profile }}</td>
                                    <td>$ {{ sale.price_buy|intcomma }}</td>
                                    <td>$ {{ sale.price_sale|intcomma }}</td>
                                    <td>$ {{ sale.price_sale|sub:sale.price_buy|intcomma }}</td>
                                </tr>
                            {% endfor %}
                            {% if sales %}
                                <tr class="gradeA odd" role="row">
                                    <td></td>
                                    <td></td>
                                      <td></td>
                                    <td></td>
                                    <td><strong>Totales</strong></td>
                                    <td>$ {{ buy_sum.total_buy|intcomma }}</td>
                                    <td>$ {{ sales_sum.total_sales|intcomma }}</td>
                                    <td>$ {{ sales_sum.total_sales|sub:buy_sum.total_buy|intcomma }}</td>
                                </tr>
                             {% endif %}
                        </tbody>
                    </table>
                </div>
			</div>
		</div>

	</div>
	<!-- /.col-lg-12 -->
</div>



{% endblock %}