{% extends 'layout.html' %}
{% load humanize %}
{% block menu %}
	{% include 'menu.html' %}
{% endblock %}
{% load widget_tweaks %}
{% block header %}
 <div class="page-header">
	  <div class="page-block">
		  <div class="row align-items-center">
			  <div class="col-md-8">
				  <div class="page-header-title">
					  <h5 class="m-b-10">VER VENTA</h5>
					  <p class="m-b-0">Id de venta : {{ count_package_invoices.0.invoice.id }}</p>
				  </div>
			  </div>

		  </div>
	  </div>
  </div>
{% endblock %}
{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<h5>Datos detallados</h5>
			</div>
			<div class="card-block">
					<div class="form-group">
						<label><strong>Fecha de pago:</strong></label>
						<td>{{ count_package_invoices.0.invoice.date_pay|date:"d/M/Y P" }}</td>
					</div>
					<div class="form-group">
						<label><strong>Proveedor:</strong></label>
						<td>{{ count_package_invoices.0.invoice.due.first_name }} {{ count_package_invoices.0.invoice.due.last_name }} - {{ count_package_invoices.0.invoice.due.username }}</td>
					</div>
					<div class="form-group">
						<label><strong>Precio:</strong></label>
						<td>$ {{ total_value|intcomma }}</td>
					</div>

				  <table id="sales-table" class="table table-normal">
                        <thead>
                            <tr>
								<th>#</th>
                                <th>Producto</th>
								 <th>Email</th>
								 <th>Contraseña</th>
								 <th>Perfil</th>
								 <th>Pin</th>
                                <th>Pago</th>

                            </tr>
                        </thead>
                        <tbody>
                           {% for invoice in count_package_invoices %}
                            <tr class="gradeA odd" role="row">
							   <td >{{forloop.counter}}</td>
                               <td>{{ invoice.count_package.subproduct.name }}</td>
							   <td>{{ invoice.count_package.email }}</td>
							   <td>{{ invoice.count_package.password }}</td>
							   <td>{{ invoice.count_package.profile }}</td>
							   <td>{{ invoice.count_package.pin }}</td>
                               <td>$ {{ invoice.count_package.price_buy|intcomma }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
			</div>
			<!-- /.col-lg-6 (nested) -->
		</div>
		<!-- /.row (nested) -->
	</div>
	<!-- /.panel-body -->
</div>


<script type="text/javascript">
$(document).ready( function () {
    $('#planes-table').DataTable({
    	paging: false
	});
} );

$( ".check" ).each(function(index) {
    $(this).on("change", function(){
     	var id_plan = $(this).attr('id');
    	check_value = $(this).prop("checked")
    	if (check_value == true){
    		action = "add"
    	}else{
    		action = "delete"
    	}
    	$.get('/plan/'+action+'/{{ id }}/'+id_plan,function(data){
    		$('.modal-content').html(data)
    		$("#myModal").modal({show: true})
   		})

    });
});

</script>

{% endblock %}
