{% extends 'layout.html' %}
{% load widget_tweaks %}
{% load humanize %}
{% block header %}
 <div class="page-header">
	  <div class="page-block">
		  <div class="row align-items-center">
			  <div class="col-md-8">
				  <div class="page-header-title">
					  <h5 class="m-b-10">Activar Usuario</h5>

				  </div>
			  </div>

		  </div>
	  </div>
  </div>
{% endblock %}
{% block content %}
<div class="row">
	<div class="col-md-8">
		<div class="card">
			<div class="card-header">
				<h5>Usuario {{ type }}</h5>
			</div>
			<div class="card-block">
					<div class="form-group form-default">
						<label class="float-label username"><strong>Username</strong></label>:
						{{ user.username }}
					</div>
				<div class="form-group form-default">
						<label class="float-label username"><strong>Nombres</strong></label>:
						{{ user.first_name }}
					</div>
				<div class="form-group form-default">
						<label class="float-label username"><strong>Apellidos</strong></label>:
						{{ user.last_name }}
					</div>
				<div class="form-group form-default">
						<label class="float-label username"><strong>Correo</strong></label>:
						{{ user.email }}
					</div>
				<div class="form-group form-default">
						<label class="float-label username"><strong>Dirección</strong></label>:
						{{ user_data.address }}
					</div>
				<div class="form-group form-default">
						<label class="float-label username"><strong>Telefonos</strong></label>:
						{{ user_data.phones }}
					</div>
				<div class="form-group form-default">
						<label class="float-label username"><strong>Observaciones</strong></label>:
						{{ user_data.observations }}
					</div>
				<div class="form-group form-default">
						<label class="float-label username"><strong>Paypal</strong></label>:
						{{ user_data.paypal }}
					</div>
				<div class="form-group form-default">
						<label class="float-label username"><strong>Aritms</strong></label>:
						{{ user_data.aritms }}
					</div>
				<div class="form-group form-default">
						<label class="float-label username"><strong>Binance</strong></label>:
						{{ user_data.binance }}
					</div>
				<div class="form-group form-default">
						<label class="float-label username"><strong>Banco Clave interbancaria</strong></label>:
						{{ user_data.banco }}
					</div>
			</div>

			<form class="form-material" method="post">
				{% csrf_token %}
				<div class="card-header">
					<span>De click en las plataformas que desee activar para este usuario</span>
				</div>
				<div class="card-block">
						<table class="table table-no-pagin table-hover">
							<thead>
								<tr>
									<th>#</th>
									<th>Plataforma</th>
									<th>
									<input id="all_aut" class="form-check-input" type="checkbox" value="" >
									</th>
								</tr>
							</thead>
							<tbody>
							   {% for product in products %}
								<tr class="gradeA odd" role="row">
									<td>{{forloop.counter}}</td>
									<td>{{ product.name }}</td>
									<td><input name="{{ product.id }}" class="form-check-input" type="checkbox" value=""
									{% if product.id in products_actives %}
											   checked
									{% endif %}
									> </td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
				</div>
				<button class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" id="{{ staff.id }}" type="submit" >Guardar</button>
			</form>
		</div>
	</div>
	<div class="col-md-2">
		<div class="card">
			<div class="card-header">
				<h5>Imagen de usuario</h5>
			</div>
			<div class="card-block">
				<img class="zoom" src="../../media/{{ user_data.image }}" alt="{{ user.username }}" width="90">
			</div>
		</div>
		<div class="card">
			<div class="card-header">
				<h5>Imagen de documento</h5>
			</div>
			<div class="card-block">
				<img class="zoom" src="../../media/{{ user_data.image_document }}" alt="{{ user.username }}" width="90">
			</div>
		</div>
	</div>
</div>
<script>
$('#all_aut').change(function(){
	if ($(this).is(':checked') ){
		$('.form-check-input').prop('checked', true)
	}else{
		$('.form-check-input').prop('checked', false)
	}
})


$('.zoom').click(function(e){

        e.preventDefault()
        image= $(this).attr("src")
        console.log(image)
        $('.modal-body').html('<img src="'+image+'"  width="390">')
        $('#Modal').modal()
        $('#Modal').removeClass('fade')
        $('#Modal').show()


	})

</script>

{% endblock %}
