{% extends 'layout.html' %}
{% block menu %}

{% endblock %}
{% load widget_tweaks %}
{% load humanize %}
{% block header %}
<style>
.pcoded-content{
	margin-left:0px !important;
}
.red{
	background: #ff5252;
}

</style>
 <div class="page-header">
	  <div class="page-block">
		  <div class="row align-items-center">
			  <div class="col-md-8">
				  <div style="float:left;" class="navbar-logo">
					  <a href="/">
						   <img src="/static/logos/myiplataformadigital.png" alt="logo.png" width="210" height="60">
					  </a>
				  </div>
				  <div style="float: left;margin-left: 200px;" class="page-header-title">
					  <h5 class="m-b-10">¡Registrate!</h5>
					  <p class="m-b-0">Ingrese los datos en el formulario</p>
				  </div>
			  </div>

		  </div>
	  </div>
  </div>
{% endblock %}
{% block content %}
<div class="row">
	<div class="col-md-6">
		<div class="card">
			<div class="card-header">
				<h5>MIEMBRO NUEVO</h5>
				<span>Digite la información requerida</span>
			</div>
			<div class="card-block">
				<form class="form-material staff_register" method="post"  enctype="multipart/form-data">
					{% csrf_token %}
					<div class="form-group form-default">
						{{ form.group|add_class:'form-control' }}
						<span class="form-bar"></span>
						<label class="float-label username">Quieres trabajar como:</label>
					</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header">
				<h5>Información personal</h5>
			</div>
				<div class="card-block">
					<div class="form-group">
						<label>Fotografia legible:</label>
						{{ form2.image }}

					</div>
					<div class="form-group form-default">
						{{ form.username|add_class:'form-control' }}
						<span class="form-bar"></span>
						<label class="float-label username">Username</label>
					</div>
					<div class="form-group form-default">
						{{ form.first_name|add_class:'form-control' }}
						<span class="form-bar"></span>
						<label class="float-label">Nombre</label>
					</div>
					<div class="form-group form-default">
						{{ form.last_name|add_class:'form-control' }}
						<span class="form-bar"></span>
						<label class="float-label">Apellidos</label>
					</div>
					<div class="form-group form-default">
						{{ form2.document|add_class:'form-control' }}
						<span class="form-bar"></span>
						<label class="float-label">Documento</label>
					</div>
					<div class="form-group">
						<label>Imagen del documento:</label>
						{{ form2.image_document }}
						<span class="form-bar"></span>
							<label class="float-label">
								<small>
								(Imagen de identificación por ambas caras)</small>
					</div>
					<div class="form-group form-default">
						{{ form.email|add_class:'form-control' }}
						<span class="form-bar"></span>
						<label class="float-label">Correo</label>
					</div>
					<div class="form-group form-default">
						{{ form2.address|add_class:'form-control' }}
						<span class="form-bar"></span>
						<label class="float-label">Dirección</label>
					</div>
					<div class="form-group form-default">
						{{ form2.city|add_class:'form-control' }}
						<span class="form-bar"></span>
						<label class="float-label">Ciudad</label>
					</div>
					<div class="form-group form-default">
						{{ form2.state|add_class:'form-control' }}
						<span class="form-bar"></span>
						<label class="float-label">Estado</label>
					</div>
					<div class="form-group form-default">
						<label class="float-label">Pais</label>
						{{ form2.country|add_class:'form-control js-example-basic-single' }}
						<span class="form-bar"></span>
					</div>
					<div class="form-group form-default">
						{{ form2.phones|add_class:'form-control' }}
						<span class="form-bar"></span>
						<label class="float-label">Número de celular con código de país y que tenga WhatsApp</label>
					</div>
				</div>

		</div>
		<div class="card">
			<div class="card-header">
				<h5>Información adicional</h5>
			</div>
				<div class="card-block">
					<div class="form-group form-default bank-information" >
						{{ form2.payPal|add_class:'form-control' }}
						<span class="form-bar"></span>
						<label class="float-label">Paypal</label>
					</div>
					<div class="form-group form-default bank-information" >
						{{ form2.aritms|add_class:'form-control' }}
						<span class="form-bar"></span>
						<label class="float-label">Aritms</label>
					</div>
					<div class="form-group form-default bank-information" >
						{{ form2.binance|add_class:'form-control' }}
						<span class="form-bar"></span>
						<label class="float-label">Binance</label>
					</div>
					<div class="form-group form-default bank-information" >
						{{ form2.banco|add_class:'form-control' }}
						<span class="form-bar"></span>
						<label class="float-label">Banco Clave interbancaria</label>
						<small>(Solo si eres de México)</small>
					</div>

					<div class="form-group form-default">
						{{ form2.observations|add_class:'form-control' }}
						<span class="form-bar"></span>
						<label class="float-label">Que es lo que vendes y explicar por qué quieres entrar como proveedor</label>
					</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header">
				<h5>Contraseña</h5>
			</div>
				<div class="card-block">

					<div class="form-group form-default">
						{{ form.password1|add_class:'form-control' }}
						<span class="form-bar"></span>
						<label class="float-label">Contraseña</label>
						<span id="passstrength"></span>
					</div>
					<div class="form-group form-default">
						{{ form.password2|add_class:'form-control' }}
						<span class="form-bar"></span>

						<label class="float-label">Confirme la contraseña</label>
					</div>
					<div class="form-group form-default">
						<span class="form-bar"><strong>La contraseña debe contener al menos 8 caracteres y no ser completamente numérica.(se recomienda combinar minúsculas, mayúsculas, números y símbolos)</strong></span>
					</div>
					<div class="registrationFormAlert" id="divCheckPasswordMatch">
					<input class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20 send-register" type="submit" value="Registrase"/>


				</form>
				{% if img_obj %}
				  	<h3>Succesfully uploaded : {{img_obj.title}}</h3>
					<img src="{{ img_obj.image.url}}" alt="connect" style="max-height:300px">
				{% endif %}
				{% if form.errors %}
					{{ form.errors }}
				{% endif %}
				{% if form2.errors %}
					{{ form2.errors }}
				{% endif %}
			</div>
		</div>
	</div>
</div>
<script>
$('#id_group').change(function(){
	if ($(this).val() == "staff"){
		$('.bank-information').show()
		$('#id_bank_info').text('')
	}else{
		$('.bank-information').hide()
		$('#id_bank_info').text('N/A')
	}
})
register_staff()
</script>
{% endblock %}
