
{% load humanize %}
{% load mathfilters %}
{% load widget_tweaks %}


{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-header">
				<h5>Listado de trasnsacciones </h5>
			</div>
			<div class="card-block table-border-style">
				<div class="table-responsive">
                    <table id="sales-table" class="table table-no-order">
                        <thead>
                            <tr>
                                <th>Fecha compra</th>
                                <th>Proveedor</th>
                                <th>Producto</th>
                                <th>Fecha de expiración</th>

                                <th>Email</th>
                                <th>Paswword</th>
                                <th>Perfil</th>
                                <th>Pin</th>
                                 <th>Precio</th>
                                <th>Accion</th>
                            </tr>
                        </thead>
                        <tbody>
                           {% for buy in buys %}
                                <tr class="gradeA odd" role="row">
                                    <td>{{ buy.date_buy|date:"d/M/Y P" }}</td>
                                    <td>{{ buy.subproduct.creater.first_name }} {{ buy.subproduct.creater.last_name }}</td>
                                    <td>{{ buy.subproduct.product.name }} {{ buy.subproduct.name }}</td>
                                    <td>{{ buy.date_finish|date:"d/M/Y P" }}</td>

                                    <td>{{ buy.email  }}</td>
                                    <td>{{ buy.password }}</td>
                                    <td>{{ buy.profile  }}</td>
                                    <td>{{ buy.pin }}</td>
                                      <td>${{ buy.price_buy|intcomma   }}</td>
                                    <td>
                                        <a href="#" class="sale"  name_product="{{ buy.subproduct.name }}" id="{{ buy.id}}">
                                            <i class="ti-loop" title="Renovar cuenta"></i>
                                        </a>
                                        <a href="#" class="report"  id="{{ buy.id}}">
                                            <i class="ti-comment" title="Reportar error en la cuenta"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
			</div>
		</div>

	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.container-fluid -->
 <!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
	</div>
</div>
<script>
 $('#sales-table').DataTable( {
		  responsive: true,
		  ordering: false,
		  paging: false,
 });

 resale_package()

</script>



{% endblock %}