{% extends 'layout.html' %}
{% load widget_tweaks %}
{% load humanize %}
{% block header %}
 <div class="page-header">
	  <div class="page-block">
		  <div class="row align-items-center">
			  <div class="col-md-8">
				  <div class="page-header-title">
					  <h5 class="m-b-10">Verificación de correo </h5>
				  </div>
			  </div>
		  </div>
	  </div>
  </div>
{% endblock %}
{% block content %}
<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-header">
				<h5>Verifica tu correo</h5>
			</div>
			<div class="card-block table-border-style">
				<div class="table-responsive">
					Hola <strong>{{ user.username }}</strong>, ¡te acabamos de enviar un correo electrónico a <strong>{{ user.email }}</strong> para que por favor des click en el enlace y continuar con el proceso!
				</div>
				<div class="table-responsive">
					Si no te llega en los próximos minutos revisa tu carpeta de spam  dale click <a href="javascript:location.reload()">Aqui</a>
				</div>
			</div>
		</div>

	</div>
	<!-- /.col-lg-12 -->
</div>
<script>
	$('.pcoded-navbar').remove()
	$('.pcoded-content').css("margin-left","0px")
</script>
{% endblock %}