{% extends 'layout.html' %}
{% load widget_tweaks %}
{% load humanize %}
{% block header %}
 <div class="page-header">
	  <div class="page-block">
		  <div class="row align-items-center">
			  <div class="col-md-8">
				  <div class="page-header-title">
					  <h5 class="m-b-10">Proveeedores  {% if authorized == 0 %} pendientes de activación {% endif%} </h5>
				  </div>
			  </div>

		  </div>
	  </div>
  </div>
{% endblock %}
{% block content %}
<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-header">
				<h5>Listado de Proveeedores {% if authorized == 0 %} no {% endif%} activos</h5>
			</div>
			<div class="card-block table-border-style">
				<div class="table-responsive">
					<table class="table table-hover table-normal">
						<thead>
							<tr>
								<th>#</th>
								<th>Fecha</th>
								<th>Username</th>
								<th>Nombres</th>
								<th>Ver</th>
							</tr>
						</thead>
					   <tbody>
						   {% for user in users %}
								<tr class="gradeA odd" role="row">
									<td>{{forloop.counter}}</td>
									<td>{{ user.date_joined }}</td>
									<td>{{ user.username }}</td>
									<td>{{ user.first_name }} {{ user.last_name }}</td>
									<td class="center">
										<a href="{% url 'activate-staff' type user.id %}"><i class="fa fa-fw" aria-hidden="true" title="Ver"><i class="ti-settings"></i></i></a>
										{% if type == 'vendedor' and authorized == 1 %}
											<a href="{% url 'add-money-saler' user.id %}"><i class="fa fa-fw" aria-hidden="true" title="Agregar Saldo"><i class="ti-money"></i></i></a>
										{% endif %}
										{% if authorized == 1 %}
											<a class="delete-user" id="{{ user.id }}" href="#"><i class="fa fa-fw " aria-hidden="true" title="Desactivar Vendedor"><i class="ti-trash"></i></i></a>
										{% endif %}
									</td>
								</tr>
							{% endfor %}
					</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>
	<!-- /.col-lg-12 -->
</div>
{% endblock %}
