<!DOCTYPE html>
<html lang="en">
{% block head %}
 {% include 'head.html' %}
{% endblock %}
{% block scripts %}
	 {% include 'script.html' %}
{% endblock %}
  <body>
  <!-- Pre-loader start -->
  <div class="theme-loader">
      <div class="loader-track">
          <div class="preloader-wrapper">
              <div class="spinner-layer spinner-blue">
                  <div class="circle-clipper left">
                      <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                      <div class="circle"></div>
                  </div>
              </div>

          </div>
      </div>
  </div>
  <!-- Pre-loader end -->
  <div id="pcoded" class="pcoded">
      <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
    	    {% block menu %}
				 {% include 'menu.html' %}
			{% endblock %}

              <div class="pcoded-content">
                      <!-- Page-header start -->
                        {% block header %}
                        {% endblock %}
                      <!-- Page-header end -->
                         <div class="pcoded-inner-content">
                            <!-- Main-body start -->
                            <div class="main-body">
                                 <div class="page-wrapper">
                                    <!-- Page-body start -->
                                    <div class="page-body">
                                        {% block content %}
                                        {% endblock %}
                                    </div>
                                    <!-- Page-body end -->
                                </div>
                                <div id="styleSelector"> </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- Modal -->
<div id="Modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Mensaje de MyMultiplataforma Digital</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>

</body>

</html>