<nav class="navbar header-navbar pcoded-header">
<div class="navbar-wrapper">
<div class="navbar-logo">
  <a class="mobile-menu waves-effect waves-light" id="mobile-collapse" href="#!">
      <i class="ti-menu"></i>
  </a>
  <div class="mobile-search waves-effect waves-light">
      <div class="header-search">
          <div class="main-search morphsearch-search">
              <div class="input-group">
                  <span class="input-group-addon search-close"><i class="ti-close"></i></span>
                  <input type="text" class="form-control" placeholder="Enter Keyword">
                  <span class="input-group-addon search-btn"><i class="ti-search"></i></span>
              </div>
          </div>
      </div>
  </div>
  <a href="index.html">
      <img class="img-fluid" src="assets/images/logo.png" alt="Theme-Logo" />
  </a>
  <a class="mobile-options waves-effect waves-light">
      <i class="ti-more"></i>
  </a>
</div>

<div class="navbar-container container-fluid">
  <ul class="nav-left">
      <li>
          <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a></div>
      </li>
      <li class="header-search">
          <div class="main-search morphsearch-search">
              <div class="input-group">
                  <span class="input-group-addon search-close"><i class="ti-close"></i></span>
                  <input type="text" class="form-control">
                  <span class="input-group-addon search-btn"><i class="ti-search"></i></span>
              </div>
          </div>
      </li>
      <li>
          <a href="#!" onclick="javascript:toggleFullScreen()" class="waves-effect waves-light">
              <i class="ti-fullscreen"></i>
          </a>
      </li>
  </ul>
  <ul class="nav-right">
      <li class="header-notification">
          <a href="#!" class="waves-effect waves-light">
              <i class="ti-bell"></i>
              <span class="badge bg-c-red"></span>
          </a>
          <ul class="show-notification">
              <li>
                  <h6>Notifications</h6>
                  <label class="label label-danger">New</label>
              </li>
              <li class="waves-effect waves-light">
                  <div class="media">
                      <img class="d-flex align-self-center img-radius" src="assets/images/avatar-2.jpg" alt="Generic placeholder image">
                      <div class="media-body">
                          <h5 class="notification-user">John Doe</h5>
                          <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                          <span class="notification-time">30 minutes ago</span>
                      </div>
                  </div>
              </li>
              <li class="waves-effect waves-light">
                  <div class="media">
                      <img class="d-flex align-self-center img-radius" src="assets/images/avatar-4.jpg" alt="Generic placeholder image">
                      <div class="media-body">
                          <h5 class="notification-user">Joseph William</h5>
                          <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                          <span class="notification-time">30 minutes ago</span>
                      </div>
                  </div>
              </li>
              <li class="waves-effect waves-light">
                  <div class="media">
                      <img class="d-flex align-self-center img-radius" src="assets/images/avatar-3.jpg" alt="Generic placeholder image">
                      <div class="media-body">
                          <h5 class="notification-user">Sara Soudein</h5>
                          <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                          <span class="notification-time">30 minutes ago</span>
                      </div>
                  </div>
              </li>
          </ul>
      </li>
      <li class="user-profile header-notification">
          <a href="#!" class="waves-effect waves-light">
              <img src="assets/images/avatar-4.jpg" class="img-radius" alt="User-Profile-Image">
              <span>John Doe</span>
              <i class="ti-angle-down"></i>
          </a>
          <ul class="show-notification profile-notification">
              <li class="waves-effect waves-light">
                  <a href="#!">
                      <i class="ti-settings"></i> Settings
                  </a>
              </li>
              <li class="waves-effect waves-light">
                  <a href="user-profile.html">
                      <i class="ti-user"></i> Profile
                  </a>
              </li>
              <li class="waves-effect waves-light">
                  <a href="email-inbox.html">
                      <i class="ti-email"></i> My Messages
                  </a>
              </li>
              <li class="waves-effect waves-light">
                  <a href="auth-lock-screen.html">
                      <i class="ti-lock"></i> Lock Screen
                  </a>
              </li>
              <li class="waves-effect waves-light">
                  <a href="auth-normal-sign-in.html">
                      <i class="ti-layout-sidebar-left"></i> Logout
                  </a>
              </li>
          </ul>
      </li>
  </ul>
</div>
</div>
</nav>

<div class="pcoded-main-container">
<div class="pcoded-wrapper">
<nav class="pcoded-navbar">
  <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
  <div class="pcoded-inner-navbar main-menu">
        {% block user_zone %}
			{% include 'user_zone.html' %}
		{% endblock %}



      {% if user_type == "superuser" %}
      <div class="pcoded-navigation-label" data-i18n="nav.category.navigation">Plataformas y Usuarios</div>
      <ul class="pcoded-item pcoded-left-item">
          <li class="active">
              <a href="index.html" class="waves-effect waves-dark">
                  <span class="pcoded-micon"><i class="ti-home"></i><b>D</b></span>
                  <span class="pcoded-mtext" data-i18n="nav.dash.main">Dashboard</span>
                  <span class="pcoded-mcaret"></span>
              </a>
          </li>

          <li class="pcoded-hasmenu">
              <a href="javascript:void(0)" class="waves-effect waves-dark">
                  <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                  <span class="pcoded-mtext"  data-i18n="nav.basic-components.main">Plataformas</span>
                  <span class="pcoded-mcaret"></span>
              </a>
              <ul class="pcoded-submenu">
                  <li class=" ">
                      <a href="{% url 'add-product' %}" class="waves-effect waves-dark">
                          <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                          <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Crear nueva</span>
                          <span class="pcoded-mcaret"></span>
                      </a>
                  </li>


              </ul>
          </li>
      </ul>
      <div class="pcoded-navigation-label" data-i18n="nav.category.navigation">Usuarios</div>
      <ul class="pcoded-item pcoded-left-item">
          <li class="pcoded-hasmenu ">
              <a href="javascript:void(0)" class="waves-effect waves-dark">
                  <span class="pcoded-micon"><i class="ti-id-badge"></i></span>
                  <span class="pcoded-mtext"  data-i18n="nav.basic-components.main">Proveedores</span>
                  <span class="pcoded-mcaret"></span>
              </a>
              <ul class="pcoded-submenu">
                  <li class=" ">
                      <a href="{% url 'staff-list' 1 %}" class="waves-effect waves-dark">
                          <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                          <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Proveedores activos</span>
                          <span class="pcoded-mcaret"></span>
                      </a>
                  </li>
                  <li class=" ">
                      <a href="{% url 'staff-list' 0 %}" class="waves-effect waves-dark">
                          <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                          <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">Activación de proveedores</span>
                          <span class="pcoded-mcaret"></span>
                      </a>
                  </li>
              </ul>
          </li>
      </ul>
      {% endif %}

      {% if user_type == "staff" %}
      <div class="pcoded-navigation-label" data-i18n="nav.category.navigation">Usuarios y Saldos</div>
      <ul class="pcoded-item pcoded-left-item">
          <li class="pcoded-hasmenu">
              <a href="javascript:void(0)" class="waves-effect waves-dark">
                  <span class="pcoded-micon"><i class="ti-user"></i></span>
                  <span class="pcoded-mtext"  data-i18n="nav.basic-components.main">Vendedores</span>
                  <span class="pcoded-mcaret"></span>
              </a>
              <ul class="pcoded-submenu">
                  <li class=" ">
                      <a href="{% url 'saler-list' %}" class="waves-effect waves-dark">
                          <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                          <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Ver vendedores</span>
                          <span class="pcoded-mcaret"></span>
                      </a>
                  </li>
                  <li class=" ">
                      <a href="{% url 'saler-add' %}" class="waves-effect waves-dark">
                          <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                          <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">Crear nuevo vendedor</span>
                          <span class="pcoded-mcaret"></span>
                      </a>
                  </li>
                  <li class=" ">
                      <a href="{% url 'money-saler-list' %}" class="waves-effect waves-dark">
                          <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                          <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Saldos Agregados</span>
                          <span class="pcoded-mcaret"></span>
                      </a>
                  </li>


              </ul>
          </li>
      </ul>
      <div class="pcoded-navigation-label" data-i18n="nav.category.navigation">Gestion</div>
      <ul class="pcoded-item pcoded-left-item">
         <li class="pcoded-hasmenu">
              <a href="javascript:void(0)" class="waves-effect waves-dark">
                  <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                  <span class="pcoded-mtext"  data-i18n="nav.basic-components.main">Plataformas</span>
                  <span class="pcoded-mcaret"></span>
              </a>
              <ul class="pcoded-submenu">
                  <li class=" ">
                      <a href="{% url 'platforms-list' %}" class="waves-effect waves-dark">
                          <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                          <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Listado</span>
                          <span class="pcoded-mcaret"></span>
                      </a>
                  </li>
                   <li class=" ">
                      <a href="{% url 'add-product' %}" class="waves-effect waves-dark">
                          <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                          <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Solicitudes de renovación</span>
                          <span class="pcoded-mcaret"></span>
                      </a>
                  </li>
                   <li class=" ">
                      <a href="{% url 'add-product' %}" class="waves-effect waves-dark">
                          <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                          <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Ventas ultimos 30 dias</span>
                          <span class="pcoded-mcaret"></span>
                      </a>
                  </li>
                   <li class=" ">
                      <a href="{% url 'add-product' %}" class="waves-effect waves-dark">
                          <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                          <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Ventas historicas</span>
                          <span class="pcoded-mcaret"></span>
                      </a>
                  </li>


              </ul>
          </li>
      </ul>
      {% endif %}




  </div>
</nav>
