{% load static %}
   <!-- Required Jquery -->
    <script type="text/javascript" src="{% static 'js/jquery/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui/jquery-ui.min.js' %} "></script>
    <script type="text/javascript" src="{% static 'js/popper.js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'pages/widget/excanvas.js' %} "></script>
    <!-- waves js -->
    <script type="text/javascript" src="{% static 'pages/waves/js/waves.min.js' %}"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="{% static 'js/jquery-slimscroll/jquery.slimscroll.js' %} "></script>
    <script type="text/javascript" src="{% static 'js/generals.js' %}?version=2.2 "></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="{% static 'js/modernizr/modernizr.js' %} "></script>
    <!-- slimscroll js -->
    <script type="text/javascript" src="{% static 'js/SmoothScroll.js' %}"></script>
    <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <!-- Chart js -->
    <script type="text/javascript" src="{% static 'js/chart.js/Chart.js' %}"></script>
    <!-- amchart js -->
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="{% static 'pages/widget/amchart/gauge.js' %}"></script>
    <script src="{% static 'pages/widget/amchart/serial.js' %}"></script>
    <script src="{% static 'pages/widget/amchart/light.js' %}"></script>
    <script src="{% static 'pages/widget/amchart/pie.min.js' %}"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <!-- menu js -->
    <script src="{% static 'js/pcoded.min.js' %}"></script>
    <script src="{% static 'js/jquery.validate.js' %}"></script>

    <script src="{% static 'js/vertical-layout.min.js' %}"></script>
    <!-- custom js -->
    <script type="text/javascript" src="{% static 'pages/dashboard/custom-dashboard.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <!-- datatable -->
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="{% static 'js/strength.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>

<script src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.3.0/js/responsive.bootstrap4.min.js"></script>

